<div class="container">
  <div id="preview">
    <%= image_tag 'bookshelf.png', width: 315 %>
    <span id="title_preview">
    </span>
    <span id="img1">
      <a href="" target="_blank" id="preview_url1">
        <img src="" id="preview_image1" width="55px">
      </a>
    </span>
    <span id="img2">
      <a href="" target="_blank" id="preview_url2">
        <img src="" id="preview_image2" width="55px">
      </a>
    </span>
    <span id="img3">
      <a href="" target="_blank" id="preview_url3">
        <img src="" id="preview_image3" width="55px">
      </a>
    </span>
    <span id="img4">
      <a href="" target="_blank" id="preview_url4">
        <img src="" id="preview_image4" width="55px">
      </a>
    </span>
    <span id="img5">
      <a href="" target="_blank" id="preview_url5">
        <img src="" id="preview_image5" width="55px">
      </a>
    </span>
  </div>

  <%= form_with(model: @post, local: true, id: 'not_use') do |form| %>
    <div class='form'>
      <div class="form-row">
        <div class="form-group col-3 form-text">
          １冊目
        </div>
        <div class="form-group col-9">
          <%= form.text_area :keyword1, id: :keyword1, class:'form-control', rows:"1" %>
        </div>
      </div>
      <div id="display1"></div>
      <div class="form-row">
        <div class="form-group col-3 form-text">
          ２冊目
        </div>
        <div class="form-group col-9">
          <%= form.text_area :keyword2, id: :keyword2, class:'form-control', rows:"1" %>
        </div>
      </div>
      <div id="display2"></div>
      <div class="form-row">
        <div class="form-group col-3 form-text">
          ３冊目
        </div>
        <div class="form-group col-9">
          <%= form.text_area :keyword3, id: :keyword3, class:'form-control', rows:"1" %>
        </div>
      </div>
      <div id="display3"></div>
      <div class="form-row">
        <div class="form-group col-3 form-text">
          ４冊目
        </div>
        <div class="form-group col-9">
          <%= form.text_area :keyword4, id: :keyword4, class:'form-control', rows:"1" %>
        </div>
      </div>
      <div id="display4"></div>
      <div class="form-row">
        <div class="form-group col-3 form-text">
          ５冊目
        </div>
        <div class="form-group col-9">
          <%= form.text_area :keyword5, id: :keyword5, class:'form-control', rows:"1" %>
        </div>
      </div>
      <div id="display5"></div>
      <div class="form-row">
        <div class="form-group col-3 form-text">
          タイトル
        </div>
        <div class="form-group col-9">
          <%= form.text_area :title, id: :title, value: 'わたしの本棚', class:'form-control', rows:"1" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  function search(keyword ,index){
    if (globalTimeout != null) {
      clearTimeout(globalTimeout);
    }
    globalTimeout = setTimeout(function() {
      globalTimeout = null;

      // キーワードに入力がないときは検索しないようにする
      if (keyword === ''){
        $(`#display${index}`).css('display','none');
        return false
      };

      $.ajax({
        url: '/',
        type: 'GET',
        // jsonで返してねってこと
        dataType: 'json',
        async: true,
        data: {keyword: keyword, index: index},
      }).done(function(data){
        $(`#display${index}`).css('display', '');
        $(`#display${index}`).html(data.content);
      });

    }, 1000);
  }

  // 入力後一定時間が過ぎた後にajax処理
  // 参考にした情報：https://code.i-harness.com/ja/q/1d22c1
  var globalTimeout = null;
  $('#keyword1').keyup(function() {
    var keyword = $("#keyword1").val();
    search(keyword, 1);
  });
  $('#keyword2').keyup(function() {
    var keyword = $("#keyword2").val();
    search(keyword, 2);
  });
  $('#keyword3').keyup(function() {
    var keyword = $("#keyword3").val();
    search(keyword, 3);
  });
  $('#keyword4').keyup(function() {
    var keyword = $("#keyword4").val();
    search(keyword, 4);
  });
  $('#keyword5').keyup(function() {
    var keyword = $("#keyword5").val();
    search(keyword, 5);
  });

  $('#title').keyup(function(){
    var content = $("#title").val();
    $('#title_preview').html(content);
  });

  // 最初に表示されるように
  var content = $("#title").val();
  $('#title_preview').html(content);
</script>
