<% if @h.present? %>
  <div class='wrap'>
    <span id='link-name'><i><%= @h_post.name.present? ? @h_post.name : '名無し' %>さんの本棚</i>
      <% if @h_post.twitter_id.present? %>
        <a href="https://twitter.com/<%= @h_post.twitter_id %>" target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
      <% end %>
    </span>
    <div class='info'><i class="fa fa-info-circle fa-fw"></i>本はamazonへのリンクになっています</div>
    <div id='view'>
      <%= image_tag 'bookshelf.png', width: 315 %>
      <span id="title_view">
        <%= @h_post.title %>
      </span>
      <span id="view_img1">
        <a href="<%= @h_post.url1 %>" target="_blank" id="view_url1">
          <img src="<%= @h_post.image1 %>" id="view_image1" width="55px">
        </a>
      </span>
      <span id="view_img2">
        <a href="<%= @h_post.url2 %>" target="_blank" id="view_url2">
          <img src="<%= @h_post.image2 %>" id="view_image2" width="55px">
        </a>
      </span>
      <span id="view_img3">
        <a href="<%= @h_post.url3 %>" target="_blank" id="view_url3">
          <img src="<%= @h_post.image3 %>" id="view_image3" width="55px">
        </a>
      </span>
      <span id="view_img4">
        <a href="<%= @h_post.url4 %>" target="_blank" id="view_url4">
          <img src="<%= @h_post.image4 %>" id="view_image4" width="55px">
        </a>
      </span>
      <span id="view_img5">
        <a href="<%= @h_post.url5 %>" target="_blank" id="view_url5">
          <img src="<%= @h_post.image5 %>" id="view_image5" width="55px">
        </a>
      </span>
    </div>
  </div>
  <br>
  <div id='you'>
    <span><i>あなたの本棚をつくる</i></span>
  </div>
<% end %>

<div class='wrap'>
  <div id="preview">
    <%= image_tag 'bookshelf.png', width: 315 %>
    <span id="title_preview">
    </span>
    <span id="img1" data-title="">
      <a href="" target="_blank" id="preview_url1">
        <img src="" id="preview_image1" width="55px">
      </a>
    </span>
    <span id="img2" data-title="">
      <a href="" target="_blank" id="preview_url2">
        <img src="" id="preview_image2" width="55px">
      </a>
    </span>
    <span id="img3" data-title="">
      <a href="" target="_blank" id="preview_url3">
        <img src="" id="preview_image3" width="55px">
      </a>
    </span>
    <span id="img4" data-title="">
      <a href="" target="_blank" id="preview_url4">
        <img src="" id="preview_image4" width="55px">
      </a>
    </span>
    <span id="img5" data-title="">
      <a href="" target="_blank" id="preview_url5">
        <img src="" id="preview_image5" width="55px">
      </a>
    </span>
  </div>
</div>

<div id='confirmation-button' style='display: none;'>
  <button id="save-button"><i class="fa fa-check fa-fw"></i>Twitterシェアへ</button>
</div>

<div class='info'><i class="fa fa-info-circle fa-fw"></i>タイトルの一部を入力し、本を選んでください</div>

<%= form_with(model: @post, local: true, id: 'not_use') do |form| %>
  <div class='form'>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        １冊目
      </div>
      <div class="form-group col-9">
        <%= form.text_area :keyword1, id: :keyword1, class:'form-control', rows:"1" %>
      </div>
    </div>
    <div id="display1"></div>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        ２冊目
      </div>
      <div class="form-group col-9">
        <%= form.text_area :keyword2, id: :keyword2, class:'form-control', rows:"1" %>
      </div>
    </div>
    <div id="display2"></div>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        ３冊目
      </div>
      <div class="form-group col-9">
        <%= form.text_area :keyword3, id: :keyword3, class:'form-control', rows:"1" %>
      </div>
    </div>
    <div id="display3"></div>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        ４冊目
      </div>
      <div class="form-group col-9">
        <%= form.text_area :keyword4, id: :keyword4, class:'form-control', rows:"1" %>
      </div>
    </div>
    <div id="display4"></div>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        ５冊目
      </div>
      <div class="form-group col-9">
        <%= form.text_area :keyword5, id: :keyword5, class:'form-control', rows:"1" %>
      </div>
    </div>
    <div id="display5"></div>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        タイトル
      </div>
      <div class="form-group col-9">
        <%= form.text_area :title, id: :title, value: 'わたしの本棚', class:'form-control', rows:"1" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        お名前
      </div>
      <div class="form-group col-9">
        <%= form.text_area :name, id: :name, placeholder: '任意', class:'form-control', rows:"1" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        Twitter ID
      </div>
      <div class="form-group col-9">
        <%= form.text_area :twitter_id, id: :twitter_id, placeholder: '任意 / @は不要です', class:'form-control', rows:"1" %>
      </div>
    </div>
  </div>
<% end %>

<% if @posts.present? %>
  <div id="recent-img">
    <div id='recent-title'>
      <i class="fa fa-star fa-fw"></i>最近作られた本棚
    </div>
    <div>
      <span class="info">今までに<%= @count %>個の本棚が作られたよ</span>
    </div>
    <% if @posts[2].present? %>
      <div class='recent-name'>
        <span><i><%= @posts[2].name.present? ? @posts[2].name : '名無し' %>さんの本棚</i>
          <% if @posts[2].twitter_id.present? %>
            <a href="https://twitter.com/<%= @post[2].twitter_id %>" target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
          <% end %>
        </span>
      </div>
      <div class='r-img'>
        <a href="https://webookshelf.herokuapp.com/?h=<%= @posts[2].h %>" target="_blank">
          <img src="https://s3-ap-northeast-1.amazonaws.com/webookshelf-production/images/<%= @posts[2].h %>.png" width="315"/>
        </a>
      </div>
    <% end %>
    <% if @posts[1].present? %>
      <div class='recent-name'>
        <span><i><%= @posts[1].name.present? ? @posts[1].name : '名無し' %>さんの本棚</i>
          <% if @posts[1].twitter_id.present? %>
            <a href="https://twitter.com/<%= @post[1].twitter_id %>" target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
          <% end %>
        </span>
      </div>
      <div class='r-img'>
        <a href="https://webookshelf.herokuapp.com/?h=<%= @posts[1].h %>" target="_blank">
          <img src="https://s3-ap-northeast-1.amazonaws.com/webookshelf-production/images/<%= @posts[1].h %>.png" width="315"/>
        </a>
      </div>
    <% end %>
    <div class='recent-name'>
      <span><i><%= @posts[0].name.present? ? @posts[0].name : '名無し' %>さんの本棚</i>
        <% if @posts[0].twitter_id.present? %>
          <a href="https://twitter.com/<%= @post[0].twitter_id %>" target="_blank"><i class="fa fa-twitter twitter-icon"></i></a>
        <% end %>
      </span>
    </div>
    <div class='r-img'>
      <a href="https://webookshelf.herokuapp.com/?h=<%= @posts[0].h %>" target="_blank">
        <img src="https://s3-ap-northeast-1.amazonaws.com/webookshelf-production/images/<%= @posts[0].h %>.png" width="315"/>
      </a>
    </div>
  </div>
<% end %>

<script>
  function search(keyword ,index){
    if (globalTimeout != null) {
      clearTimeout(globalTimeout);
    }
    globalTimeout = setTimeout(function() {
      globalTimeout = null;

      // キーワードに入力がないときは検索しないようにする
      if (keyword === ''){
        $(`#display${index}`).css('display','none');
        return false
      };

      $.ajax({
        url: '/',
        type: 'GET',
        // jsonで返してねってこと
        dataType: 'json',
        async: true,
        data: {keyword: keyword, index: index},
      }).done(function(data){
        $(`#display${index}`).css('display', '');
        $(`#display${index}`).html(data.content);
      });

    }, 1000);
  }

  // 入力後一定時間が過ぎた後にajax処理
  // 参考にした情報：https://code.i-harness.com/ja/q/1d22c1
  var globalTimeout = null;
  $('#keyword1').keyup(function() {
    var keyword = $("#keyword1").val();
    search(keyword, 1);
  });
  $('#keyword2').keyup(function() {
    var keyword = $("#keyword2").val();
    search(keyword, 2);
  });
  $('#keyword3').keyup(function() {
    var keyword = $("#keyword3").val();
    search(keyword, 3);
  });
  $('#keyword4').keyup(function() {
    var keyword = $("#keyword4").val();
    search(keyword, 4);
  });
  $('#keyword5').keyup(function() {
    var keyword = $("#keyword5").val();
    search(keyword, 5);
  });

  $('#title').keyup(function(){
    var content = $("#title").val();
    $('#title_preview').html(content);
  });

  // 最初に表示されるように
  var content = $("#title").val();
  $('#title_preview').html(content);

  // 画像生成
  $("#save-button").on("click", function () {
    // 処理前に Loading 画像を表示
    dispLoading('本棚作成中...開発者のWeb本棚はこんな感じです');

    var title1 = $('#img1').data('title');
    var image1 = $('#preview_image1').attr('src');
    var url1 = $('#preview_url1').attr('href');
    var title2 = $('#img2').data('title');
    var image2 = $('#preview_image2').attr('src');
    var url2 = $('#preview_url2').attr('href');
    var title3 = $('#img3').data('title');
    var image3 = $('#preview_image3').attr('src');
    var url3 = $('#preview_url3').attr('href');
    var title4 = $('#img4').data('title');
    var image4 = $('#preview_image4').attr('src');
    var url4 = $('#preview_url4').attr('href');
    var title5 = $('#img5').data('title');
    var image5 = $('#preview_image5').attr('src');
    var url5 = $('#preview_url5').attr('href');
    var title = $('#title').val();
    var name = $('#name').val();
    var twitter_id = $('#twitter_id').val();

    // 生成する文字列の長さ
    var l = 8;
    // 生成する文字列に含める文字セット
    var c = "abcdefghijklmnopqrstuvwxyz0123456789";
    var cl = c.length;
    var hash = "";
    for(var i=0; i<l; i++){
      hash += c[Math.floor(Math.random()*cl)];
    }

    html2canvas($('#preview').get(0), {
      proxy: true,
      useCORS: true
    }).then( function (canvas) {
      var imgData = canvas.toDataURL();

      $.ajax({
        url: '/make',
        type: 'POST',
        dataType: 'json',
        async: true,
        data: {imgData: imgData, hash: hash, title1: title1, image1: image1, url1: url1, title2: title2, image2: image2, url2: url2, title3: title3, image3: image3, url3: url3, title4: title4, image4: image4, url4: url4, title5: title5, image5: image5, url5: url5, title: title, name: name, twitter_id: twitter_id},
      }).done(function(data){
        removeLoading();
        swal({
          type: 'success',
          // title: 'Let\'s BigTweet!',
          text: '本棚完成！\n↓Let\'s share! ↓',
          imageUrl: `https://s3-ap-northeast-1.amazonaws.com/webookshelf-production/images/${hash}.png`,
          imageWidth: 315,
          imageAlt: 'Custom image',
          showConfirmButton: false,
          showCloseButton: true,
          footer: `<a href=https://twitter.com/share?text=%23Web本棚&url=https://webookshelf.herokuapp.com?h=${hash} class=modal_btn><i class="fa fa-twitter fa-fw"></i>Twitterシェア</a>`,
        })
      }).fail( function(data) {
        removeLoading();
        Swal({
          type: 'error',
          title: '画像作成に失敗しました...(; ;)',
          text: 'もう一度ボタンを押してみてください(> <)',
        })
      });
    });
  });

/* ------------------------------
 Loading イメージ表示関数
 引数： msg 画面に表示する文言
 ------------------------------ */
function dispLoading(msg){
  // 引数なし（メッセージなし）を許容
  if( msg == undefined ){
    msg = "";
  }
  // 画面表示メッセージ
  var dispMsg = "<div class='loadingMsg'>" + msg + "</div>";
  // ローディング画像が表示されていない場合のみ出力
  if($("#loading").length == 0){
    $("body").append("<div id='loading'>" + dispMsg + "</div>");
  }
}

/* ------------------------------
 Loading イメージ削除関数
 ------------------------------ */
function removeLoading(){
  $("#loading").remove();
}
</script>
