<!DOCTYPE html>
<html>
  <head>
    <title>Webookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# レスポンシブ対応 %>
    <meta name="viewport" content="width=device-width">

    <%# モーダル %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>

    <%# ファビコン設定 %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <div class="header">
      <a href="/" style="color: white;"><i class="fa fa-book fa-fw"></i>Web本棚</a>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div>
        <%= link_to '利用規約', terms_path %> / <%= link_to 'プライバシーポリシー', privacy_path %>
      </div>
      <div>
        <a href="https://twitter.com/ysk_pro" target="_blank"><i class="fa fa-twitter fa-fw"></i>開発者Twitterアカウント</a>
      </div>
    </footer>
  </body>
</html>
