<!DOCTYPE html>
<html>
  <head>
    <title>Web本棚</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# レスポンシブ対応 %>
    <meta name="viewport" content="width=device-width">

    <%# モーダル %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>

    <%# ファビコン設定 %>
    <%= favicon_link_tag %>

    <%# Twitterカード %>
    <% twitter_card = get_twitter_card_info(@h? @h: nil) %>
    <meta name="twitter:card" content=<%=twitter_card[:card]%> />
    <meta property="og:url" content=<%=twitter_card[:url]%> />
    <meta property="og:title" content=<%=twitter_card[:title]%> />
    <meta property="og:description" content=<%=twitter_card[:description]%> />
    <meta property="og:image" content=<%=twitter_card[:image]%> />

    <%# Global site tag (gtag.js) - Google Analytics %>
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>
    <header>
      <div class="inner clearfix">
        <h1><a href="/" style="color: white;"><i class="fa fa-book fa-fw"></i>Web本棚</a></h1>
        <div id="nav_toggle">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <nav>
          <ul>
            <li><%= link_to '本棚を作る', root_path %></li>
            <li><%= link_to '本棚一覧', bookshelves_path %></li>
            <li><%= link_to '本棚に多く入れられた本トップ20', bookranking_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div>
        <%= link_to '利用規約', terms_path %> / <%= link_to 'プライバシーポリシー', privacy_path %>
      </div>
      <div>
        <a href="https://twitter.com/ysk_pro" target="_blank"><i class="fa fa-twitter fa-fw"></i>開発者Twitterアカウント</a>
      </div>
    </footer>

    <script>
      // ハンバーガーメニュー
      $('#nav_toggle').on("click", function() {
        $("header").toggleClass('open');
        $("nav").slideToggle(500);
      });
    </script>
  </body>
</html>
